# Pandas Exercise: Apply function (Student Alcohol Consumption)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Download the dataset from this [address](http://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION).

### Step 3. Assign it to a variable called df.

In [2]:
df=pd.read_csv("C:\Users\hp\Downloads\python\student-alcohol-consumption\student-por.csv")
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df=df.iloc[:,:12]
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [4]:
df.applymap(lambda x:x.capitalize() if type(x)==str else x).head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,Gp,F,18,U,Gt3,A,4,4,At_home,Teacher,Course,Mother
1,Gp,F,17,U,Gt3,T,1,1,At_home,Other,Course,Father
2,Gp,F,15,U,Le3,T,1,1,At_home,Other,Other,Mother
3,Gp,F,15,U,Gt3,T,4,2,Health,Services,Home,Mother
4,Gp,F,16,U,Gt3,T,3,3,Other,Other,Home,Father

In [ ]:
### Step 6. Capitalize both Mjob and Fjob

In [5]:
df['Mjob'] = df['Mjob'].apply(lambda x: x.capitalize())
df['Fjob'] = df['Fjob'].apply(lambda x: x.capitalize())
df[['Mjob','Fjob']].head(2)

      Mjob     Fjob
0  At_home  Teacher
1  At_home    Other

### Step 7. Print the last elements of the data set.

In [6]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
648,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [7]:
#df['Mjob'] = df['Mjob'].apply(lambda x: x.capitalize())
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [69]:
def majority(contact):
    if contact >= 18:
        return 'Legal'
    else:
        return 'Not Legal'

df['leagl_drinker'] = df['age'].apply(majority)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,leagl_drinker
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,Legal
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,Not Legal
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,Not Legal
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,Not Legal
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,Not Legal
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,Not Legal
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,Not Legal
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,Not Legal
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,Not Legal
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,Not Legal
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,Not Legal
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,Not Legal
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,Not Legal
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,Not Legal
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,Not Legal
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,Not Legal
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,Not Legal
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,Not Legal
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,Not Legal
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,Not Legal
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,Not Legal
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,Not Legal
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,Not Legal
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,Not Legal
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,Not Legal
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,Not Legal
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,Not Legal
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,Not Legal
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,Not Legal
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,Not Legal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,other,mother,Legal
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,Not Legal
621,MS,F,17,R,GT3,T,1,2,other,services,course,father,Not Legal
622,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,Legal
623,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,Legal
624,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,Not Legal
625,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,Legal
626,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,Legal
627,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,Legal
628,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,Not Legal
629,MS,F,17,R,GT3,T,1,2,other,other,course,mother,Not Legal
630,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,Legal
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother,Legal
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,Legal
633,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,Legal
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother,Legal
635,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,Not Legal
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,Legal
637,MS,M,18,R,GT3,T,2,1,other,other,other,mother,Legal
638,MS,M,17,U,GT3,T,2,3,other,services,home,father,Not Legal
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother,Legal
640,MS,M,18,R,GT3,T,4,2,other,other,home,father,Legal
641,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,Legal
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,Not Legal
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,Legal
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,Legal
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,Legal
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,Legal
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,Not Legal
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,Legal

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [58]:
df[df.select_dtypes(include=['number']).columns] *= 10
df.head(4)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother